[build]
command = "npm run build"
publish = "build/client"

[build.environment]
NODE_VERSION = "20"

[dev]
command = "npm run dev"
targetPort = 3000

# Set immutable caching for static files, because they have fingerprinted filenames

[[headers]]
for = "/assets/*"

[headers.values]
"Cache-Control" = "public, max-age=31560000, immutable"
