{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

<!-- {{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }} -->

<!-- {{ partial "blog" . }} -->

<!-- Video von Jonathan beim Auflegen -->
<div class="bg-off-white pb4 ph3 mw7 center" style="margin-top: -3rem;">
    <h3 class="b">
        So kann's klingen: DJ Jonathan mit einem Appetizer-Set.
    </h3>
    <iframe width="704" height="396" src="https://www.youtube.com/embed/GcH8hmAnyIE" title="YouTube video player"
        frameborder="0" class="mw6-ns mw-100"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

    <div class="tc tl-ns mt3">
        <a href="/contact" class="btn w-auto-ns raise">Überzeugt? Schreibt uns!</a>
    </div>
</div>

{{ end }}